<h1><%= @recipe.name %></h1>
<% @recipe.ingredients.each do |ingredient| %>
  <h3><%= "#{ingredient.name} #{ingredient.amounts[0].ingredient_amount} #{ingredient.unit}" %></h3>
<%end%>
<h4><%= @recipe.method %></h4>
<h4><%= @recipe.notes %></h4>
<form action="/recipes/<%= @recipe.slug %>/edit" method="get">
  <input type="submit" value="Edit">
</form>
<form action="/recipes/<%= @recipe.slug %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
